<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn shadow">

    <!-- Social icons -->
    <div class="pb-1 pt-1">
        <a href="https://www.facebook.com/jharriswebdev" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/jheeeeezy" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCUQ-fkPVp3grr4nGWlH8ppw" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://github.com/jharris711/jharrisecomm" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2020 
        <a href="http://jharriswebdev.herokuapp.com/" target="_blank"> J. Harris Web Dev </a>
    </div>
    <!--/.Copyright-->

</footer>